---
import SearchComponent from '@/components/AstroSearch.astro'
import BackButton from '@/components/Widgets/BackButton.astro'
import { allLocales } from '@/config'
import { getLangRouteParam } from '@/i18n/lang'
import Layout from '@/layouts/Layout.astro'

export async function getStaticPaths() {
  return allLocales.map(lang => ({
    params: { lang: getLangRouteParam(lang) },
  }))
}
---
<Layout>

  <!-- Page Content -->
  <div class="heti">
    <div class="relative">
      <!-- Go Back Button On Desktop -->
      <BackButton />
      <!-- Title -->
      <h1 class="post-title">
        <span data-disable-theme-toggle-transition>
          Search
        </span>
      </h1>
    </div>
    <!-- Decorative Line -->
    <div class="uno-decorative-line" />
    <SearchComponent id="search" className="pagefind-ui" uiOptions={{ showImages: false }} />
  </div>
</Layout>
