---
import CategoryList from '@/components/CategoryList.astro'
import BackButton from '@/components/Widgets/BackButton.astro'
import { allLocales } from '@/config'
import { getLangFromLocale, getLangRouteParam } from '@/i18n/lang'
import Layout from '@/layouts/Layout.astro'
import { getAllCategories } from '@/utils/content'

export async function getStaticPaths() {
  return allLocales.map(lang => ({
    params: { lang: getLangRouteParam(lang) },
  }))
}

const currentLang = getLangFromLocale(Astro.currentLocale)
const allCategories = await getAllCategories(currentLang)
---

<Layout>
  <!-- Decorative Line -->
  <div class="uno-decorative-line" />
  <!-- Go Back Button On Desktop -->
  <BackButton />
  <h1 class="post-title mb-7.5">
    <span>Categories</span>
  </h1>
  <!-- Category List -->
  <CategoryList
    categories={allCategories}
    lang={currentLang}
  />
</Layout>
